In [1]:
#for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
list = [1,2,4,6,56,43,34]
sum=0
for i in list:
    sum=sum+i
print("sum of the list is:", sum)

sum of the list is: 146

In [7]:
n=int(input("enter the no:"))
factorial = 1
for i in range(1,n+1):
    factorial = factorial*i
print(factorial)

enter the no: 5

120

In [9]:
n = int(input('enter the no:'))
i=1
for i in range(1,11):
    print(n*i)

enter the no: 5

5
10
15
20
25
30
35
40
45
50

In [10]:
list = [2,3,4,5,6,7,8,34,54,33]
even = 0
odd = 0
for i in list:
    if(i%2==0):
        even = even +1
    else:
        odd = odd+1
print("even number in list", even)
print("odd number in list",odd)

even number in list 6
odd number in list 4

In [11]:
squares = []
for i in range (6):
    squares.append(i**2)
print([i**2 for i in range(6)])

[0, 1, 4, 9, 16, 25]

In [12]:
a = input('enter string')
count = 0
for i in a:
    count = count+1
print('length of the string is:', count)

enter string anshul

length of the string is: 6

In [13]:
n1 = int(input("enter the number1"))
n2 = int(input("enter the number2"))
n3 = int(input("enter the number3"))
sum = n1+n2+n3
avg = sum/3
print("the average of number is:", avg)

enter the number1 4
enter the number2 6
enter the number3 8

the average of number is: 6.0

In [14]:
first = 0
second = 1
print(first)
print(second)
N=  int(input('upto ehich element:'))
for i in range(1,N):
    third = first+second
    print(third)
    first,second=second,third

0
1

upto ehich element: 10

1
2
3
5
8
13
21
34
55

In [15]:
#intermediate level

In [1]:
li = [2,3,4,5,4,5,4,5]
new_list = list ()
for i in li:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[2, 3, 4, 5]

In [5]:
for i in range(1,20):
    c=0
    for j in range(2,(i//2+1)):
        if i%j==0:
            c+=1
            break
    if c==0 and i!=1:
        print(i,end=' ')

2 3 5 7 11 13 17 19

In [6]:
string = str(input("enter a string:"))
vowels = 0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowels = vowels+1
print("no of vowels are:", vowels)

enter a string: Anshul Giri

no of vowels are: 3

In [7]:
nums = [31,29,4,5,5,56,5]
frequency = nums.count(5)
for i in range(frequency):
    nums.remove(5)
print(nums)

[31, 29, 4, 56]

In [8]:
for x in range (1,6):
    for y in range(1,6):
        print(x,"*",y,"=",x*y)
    else:
        print("")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [10]:
A=eval(input('list 1:'))
B=eval(input('list 2:'))
C= []
for i in A:
    for j in B:
        if i==j:
            C.append(i)
print('common elements:')
print(C)

list 1: 23,45,67,89,3,4,6
list 2: 45,67,2,3,4,8,9,1

common elements:
[45, 67, 3, 4]

In [11]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end = ' ' )
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
num1 = int(input("num1: "))
num2 = int(input("num2: "))
if num1 < num2:
    smaller = num1
else:
    smaller = num2
for i in range(1, smaller+1):
    if (num1%i == 0) and (num2%i == 0):
        gcd = i
print(gcd)

num1:  24
num2:  12

12

In [3]:
number = input()
print(sum([int(i) for i in number]))

 14567

23

In [4]:
n = int(input("enter a number"))
for x in range(1, n+1):
    if n%x== 0:
        print(x)

enter a number 50

1
2
5
10
25
50

In [6]:
list = [1,4,5,3,2,3,5,4,4]
unique_list = []
for a in list:
    if a not in unique_list:
        unique_list.append(a)
print(unique_list)

[1, 4, 5, 3, 2]

In [7]:
list = [[1,2],[3,4],[5,6],[7,8]]
flat = [num for sublist in list for num in sublist]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
list1 = [34,53,234,53,65,67,23,66]
even = []
odd = []
for number in list1 :
    if number%2 == 0:
        even.append(number)
    else:
        odd.append(number)
print("sum of odds =", sum(odd))
print("sum of evens=", sum(even))

sum of odds = 261
sum of evens= 334

In [10]:
my_list = 4,1,9,54,43,534
squares_of_odds = [x**2 for x in my_list if x%2!=0]
print(squares_of_odds)

[1, 81, 1849]

In [11]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c={}
for i in range(len(a)):
    c[b[i]] = a[i]
print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [12]:
s=input("enter any string:")
digit_list = [x for x in s if x.isdigit()]
print(digit_list)

enter any string: abc345hyu678

['3', '4', '5', '6', '7', '8']

In [13]:
def prime_sieve(n):
    prime = [0 for i in range(101)]
    for i in range(2,n+1):
        if prime[i]==0:
            for j in range(i*i,n+1,i):
                prime[j]=1
    for i in range(2,n+1):
        if prime[i]==0:
            print(i,end= ' ')
rng = int(input("enter the string"))
prime_sieve(rng)

enter the string 50

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [15]:
l= []
for i in range (1,50):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        l.append(i)
print(l)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [16]:
for a in range (1,10):
    for b in range(1,10):
        for c in range(1,10):
            if a*a+b*b == c*c:
                print(f'the numbers {a}, {b} and {c} satisfy the pythagoras theorm.')

the numbers 3, 4 and 5 satisfy the pythagoras theorm.
the numbers 4, 3 and 5 satisfy the pythagoras theorm.

In [17]:
x = [1,2,3]
y = [4,5,6]
l1 = [(a,b) for a in x for b in y]
print(l1)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [19]:
l = eval(input("enter list: "))
length = len(l)
mean = sum = 0
for i in range (0,length):
    sum+=l[i]
mean = sum/length
print("given list is: ",l)
print("the mean of the given list is :" , mean)

enter list:  4,6,8

given list is:  (4, 6, 8)
the mean of the given list is : 6.0

In [20]:
def mode (list_of_nums):
    max_count = (0,0)
    for num in list_of_nums:
        occurences = list_of_nums.count(num)
        if occurences > max_count[0]:
            max_count = (occurences, num)
    return max_count[1]
print(mode([13,13,13,14,14,16,18]))

13

In [21]:
n_num = [1,2,3,4]
n = len(n_num)
n_num.sort()
if n%2==0:
    median1 = n_num[n//2]
    median2 = n_num[n//2-1]
    median =( median1 + median2)/2
else:
    median = n_num[n//2]
print("median is : " + str(median))

median is : 2.5

In [24]:
rows = int(input("enter the number of rows->"))
k=1
for i in range(1,rows+1):
    for a in range (1,(rows-i)+1):
        print(" ",end= "")
    for j in range (0,i):
        if j==0 or i==0:
            k=1
        else:
            k=k*(i-j)//j
        print(k,end=" ")
    print  ()

enter the number of rows-> 6

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [25]:
my_list = ["i" ,"like" ,"python"]
word = None 
max_length = 0
for s in my_list:
    if len(s) > max_length:
        word = s
print(word)

python

In [26]:
num = int(input("enter the number: "))
sum = 0
for i in range (1, num+1):
    sum = sum +i
    i=i+1
print("sum = ", sum)

enter the number:  100

sum =  5050

In [28]:
lst = eval(input("enter a list:"))
print("all palindrome numbers are:")
for num in lst:
    n=num
    rev=0
    while num!=0:
        dig=num%10
        rev=(rev*10)+dig
        num = num//10
    if n==rev:
        print(n,end=" ")

enter a list: 707,121,985,456,484

all palindrome numbers are:
707 121 484